
<div class="mesa">
  <div class="carteira">
    <p>Player1: {{playerPoints}}</p>
    <p>Dealer: {{dealerPoints}}</p>
    <p>Bet: {{bet}}</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12"  style="min-height: 350px;">
        <a *ngFor="let cards of cartinhas">
          <img class="carta" src={{cards}} />
        </a>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="row">
      <div class="coins col-md-6 pool-left">
        <h4>Saldo: {{dinheiro}} €</h4>
        <button class="coin" (click)="beting(20)"><img src="../../../assets/img/20.png"></button>
        <button class="coin" (click)="beting(50)"><img src="../../../assets/img/50.png"></button>
        <button class="coin" (click)="beting(100)"><img src="../../../assets/img/100.png"></button>
      </div>
      <div class="col-md-6 btns">
        <button class="btngame1" (click)="pedir()">Hit</button>
        <button class="btngame2" (click)="ficar()">Stay</button>
        <button class="btngame3" [routerLink]="['/']">Leave Room</button>
        <button class="btngame4" (click)="startGame()">Start</button>
      </div>
    </div>
  </div>
</div>
