@media (max-width: 1000px) {

  .theTable{
    min-height: 140vh;
  }
  .container{
    max-height: 300px;
  }
  .carta{
    max-height:100px;
  }
  .coinsimage{
    display: flex;
    flex-direction: row;
  }
  .coinsimage img{
    max-height: 90px;
  }
  .btns{
    padding-top:120px ;
  }
}

.coinsimage{
  background-color: rgba(255, 0, 0, 0);
}
.btn{
  font-weight: 800;
  color: white;
}
.carteira {

  padding: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.413);
  border-radius: 20px;
  width: 200px;
  height: 100px;
  margin-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto";
}
.theTable {

  background-image: url("b1.jpg");
  background-size: 100 50%;
  width: 100vw;
  height: 112vh;
  margin-top: -15px;
}
.coins {
  margin-top: 5vh;

}
.coins img {

  margin-right: 15px;
  width: auto;
  height:150px;
}
.coin:hover {
  color: white;
  opacity: 1;
  transition: 0.3s;
  transform: translateY(-30px);
}
.coins button {
  background-color: transparent;
  border: none;
}
h4 {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 20px;
  color:rgb(90, 255, 69);
  font-family: "Roboto";
}

.cartas {
  margin-top: 50vh;
  margin-left: 50vw;
}
.container {
  margin-left: 0;
  border: 2px solid black;
  border-radius: 2px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-top: 5px;
}

.container2 {
  margin-left: 0;
  width: 100%;
  height: 500px;
}
.btns{
  margin-right: 100px;
  margin-top: -10vh;
  margin-left: 60vw;
}
.btn:hover
{
  transition: 1s;
  filter: brightness(70%);
}
.btngame1 {
  background-color:rgb(87, 190, 190);
  width: 120px;
  height: 50px;
  justify-content: space-around ;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius:1px;

  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;

}
.btngame2 {
  background-color:rgb(207, 209, 101);
  width: 120px;
  height: 50px;
  justify-content: space-around ;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius:1px;

  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;

}
.btngame3 {
  background-color:rgb(213, 80, 80);
  width: 120px;
  height: 50px;
  justify-content: space-around ;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius:1px;

  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;

}

.btngame4 {
  background-color:rgb(80, 214, 98);
  width: 120px;
  height: 50px;
  justify-content: space-around ;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius:1px;

  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;

}
.card {
  height: 250px;
  margin-top: 50px;
}
.card2{
  margin-top: -10vh;
  width: 100px;
  height: 200px;
  display: inline-block;
  border: solid white;
  }

  .carta{
    margin: 50px 50px 0 0;
    height: 250px;
  }

  .container{
    background-image: url("b2.jpg");
    padding: 30px;
  }
