
<div class="mesa">
  <h4>carteira {{dinheiro}} €</h4>
  <div class="carteira">
    <p>{{nomePlayer}}: {{playerPoints}}</p>
    <p>Dealer: {{dealerPoints}}</p>
    <p>Bet: {{bet}}</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12"  style="min-height: 350px;">
        <a *ngFor="let cards of cartinhas">
          <img class="carta" src={{cards}} />
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="coins col-md-6 pool-left">
        <button class="coin" (click)="beting(1)"><img src="../../../assets/img/1.png"></button>
        <button class="coin" (click)="beting(5)"><img src="../../../assets/img/5.png"></button>
        <button class="coin" (click)="beting(50)"><img src="../../../assets/img/50.png"></button>
        <button class="coin" (click)="beting(100)"><img src="../../../assets/img/100.png"></button>
      </div>
      <div class="col-md-6 btns">
        <button class="btn" (click)="pedir()">Pedir</button>
        <button class="btn" (click)="ficar()">Ficar</button>
        <button class="btn" [routerLink]="['/']">Sair da mesa</button>
        <button class="btn" (click)="startGame()">Start</button>
      </div>
    </div>
  </div>
</div>
