.mesa {
  background-color:green;
  width: 100vw;
  height: 110vh;
  background-color: green;
}
.coins {
  margin-top: 5vh;
}
.coins img {
  height: 100px;
  margin-right: 15px;
  width: auto;
  height:150px;
}
.coin:hover {
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  transform: translateY(-10px);
}
.coins button {
  background-color: transparent;
  border: none;
}
h4 {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 20px;
  color:yellow;
  font-family: "Roboto";
}
.carteira {
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: green;
  width: 200px;
  height: 100px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto";
}
.cartas {
  margin-top: 50vh;
  margin-left: 50vw;
}
.container {
  margin-left: 0;
  border: 2px solid black;
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-top: 5px;
}

.container2 {
  margin-left: 0;
  width: 100%;
  height: 500px;
}
.btns{
  margin-right: 100px;
  margin-top: -10vh;
  margin-left: 60vw;
}
.btngame1 {
  background-color:red;
  width: 120px;
  height: 70px;
  justify-content: space-around ;
  border: 1px solid black;
  border-radius:10px;
  color:white;
  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;
  font-family: "Roboto";
}
.btngame2 {
  background-color:lightgreen;
  width: 120px;
  height: 70px;
  justify-content: space-around ;
  border: 1px solid black;
  border-radius:10px;
  color:white;
  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;
  font-family: "Roboto";
}
.btngame3 {
  background-color:black;
  width: 120px;
  height: 70px;
  justify-content: space-around ;
  border: 1px solid black;
  border-radius:10px;
  color:white;
  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;
  font-family: "Roboto";
}

.btngame4 {
  background-color:darkred;
  width: 120px;
  height: 70px;
  justify-content: space-around ;
  border: 1px solid black;
  border-radius:10px;
  color:white;
  margin-left: 12px;
  margin-right: 12px;
  justify-content:flex-start;
  font-family: "Roboto";
}
.card {
  height: 250px;
  margin-top: 50px;
}
.card2{
  margin-top: -10vh;
  width: 100px;
  height: 200px;
  display: inline-block;
  border: solid white;
  }

  .carta{
    margin: 50px 50px 0 0;
    height: 250px;
  }
