
<div class="separacao">


<div class="content">

  <h1>ACCOUNT</h1>
  <div class="img"></div>

  <div class="info">
    <h3>John Doe</h3>
    <h3>Account Balance</h3>
    <h3><a>{{ money }}$</a> </h3>
    <button class="button" (click)="resetMoney()">START/RESET APP</button>
  </div>


</div>
</div>




<div id="separacao2">

<div class="div1">
<div class="img2">

</div>
<h4>+ {{ bitValue }} $</h4>

</div>
<div class="div2">




  <div class="div22">

<p>WALLET <a>{{ money }}$</a>  </p>
<p>BITCOINS OWNED <a> {{ valueInBit }} </a></p>
<p>MONEY INVESTED <a>{{ moneyInvested }}</a>   </p>
<p>YOUR TOTAL PROFIT <a> {{ profit }}</a>   </p>
<button class="button" (click)="sell()">SELL</button>
<button class="button" (click)="buy1000()">BUY 1000$</button>
</div>

</div>


</div>

