
  <nav>
    <section id="logo">
      <a href="#">
        <h1>Trabalho</h1>
        <h1>Grupo</h1>
      </a>
    </section>
    <section id="main-menu">
    <input type="checkbox" id="drop"/>
    <label for="drop" class="toggle">
      <div></div>
      <div></div>
      <div></div>
    </label>
      <ul>
        <li>
          <a [routerLink]="['/']">
            Home
          </a>
        </li>
          <li>
          <a [routerLink]="['/trade']">
            Crypto
          </a>
        </li>
          <li>
          <a [routerLink]="['/blackjack']">
            BlackJack
          </a>
        </li>
      </ul>
    </section>
  </nav>
  <main>
  </main>

