
  <nav>
    <section id="logo">
      <a href="#">
        <img width="auto" height="45px" src="../../../assets/img/logonavbar.png"><h1>CREATIVE</h1>

      </a>
    </section>
    <section id="main-menu">
    <input type="checkbox" id="drop"/>
    <label for="drop" class="toggle">
      <div></div>
      <div></div>
      <div></div>
    </label>
      <ul>
        <li>
          <a [routerLink]="['/']">
            Home
          </a>
        </li>
          <li>
          <a [routerLink]="['/trade']">
            Crypto
          </a>
        </li>
          <li>
          <a [routerLink]="['/blackjack']">
            BlackJack
          </a>
        </li>
      </ul>
    </section>
  </nav>
  <main>
  </main>

