@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* You can add global styles to this file, and also import other style files */
body{
  width: 100%;
  height: 1920px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto";
  background: rgb(255, 255, 255);
}

